<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.css"> -->
    <style>
        body {
            padding-top: 50px;
        }
        
        .main {
            padding-top: 50px;
        }
    </style>
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> 
                </button>
                <a class="navbar-brand" href="/">Contact</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">

                </ul>
            </div>
        </div>
    </div>


    <div class="container amin">
        <form role="form" action="" method="POST">
            <div class="form-group">
                <label for="suject">Sujet</label>
                <input type="text" name="suject" class="form-control" required placeholder="sujet">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" required placeholder="email">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea name="message" class="form-control" required placeholder="Votre message" rows="3"></textarea>
            </div>
            <button type="submit" id="submit" class="btn btn-default">Envoyer</button>
        </form>
    </div>
</body>

</html>