<div class="row">
  <div class="col">
    <!-- Breadcrumbs -->
    <div class="breadcrumbs d-flex flex-row align-items-center">
      <ul>
        <li class="active"><a routerLink="/register"><i class="fa fa-angle-right" aria-hidden="true"></i>Register</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- Map Container -->
<!-- Contact Us -->
<div class="row">
  <div class="col-lg-2 get_in_touch_col">
  </div>
  <div class="col-lg-8 get_in_touch_col">
    <div class="get_in_touch_contents">
      <h1>Sign Up</h1>
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <div>
          <input id="email" class="form_input input_name input_ph" type="email" name="email"
            placeholder="Username /Email" required="required" data-error="Name is required." ngModel>

          <input id="password" class="form_input input_email input_ph" type="password" name="password"
            placeholder="Password" required="required" data-error="Valid password is required." ngModel>

        </div>
        <div>
          <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit"
            (click)="onSubmit()">Register</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-2 get_in_touch_col">
  </div>
</div>